# Server
HOST=0.0.0.0
PORT=8001
DEBUG=True

# Security (Leave blank in local development, or set token for testing)
AI_API_KEY=

# Models
MATCHING_MODEL_PATH=models/sbert-murialo
GRADING_MODEL_NAME_OR_PATH=models/sbert-murialo
MODEL_DEVICE=cpu

# Concurrency & Limits
MODEL_MAX_CONCURRENCY=2
MAX_INPUT_LENGTH=50000
MAX_BATCH_SIZE=20
